<p>Select any number of images. On mobile, you can choose to take a picture with your phone. If you want to take pictures of a multi page document, just select choose files again.</p>
<label style="display: block;">Select/capture image files</label>
<input #fileSelector multiple type="file" accept=".jpg, .jpeg, .gif, .png" caputre="environment" />

<button [disabled]="!files.length" style="display: block; margin-top: 1rem;" (click)="download()">Download images as single pdf</button>

<p>Preview</p>
<p>Total size: {{size / 1000}}kb</p>
@for (file of files; track file; let idx = $index) {
  <hr />
  <div style="margin-bottom: 1rem;">
    <div>
      <p style="display: inline; margin-right: 1rem;">{{file.file.name}}</p>
      <button (click)="remove($index)">Remove</button>
    </div>
    <img class="display: block;" style="width: 100px;height: 100px;display: inline;" [src]="file.url" />
  </div>
}